html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    position: relative;
    min-height: 100vh;
    animation: show 0.25s linear;
    box-sizing: border-box;

    @include mq(1199) {

        >section,
        >div,
        >header,
        >footer {
            position: relative;
        }

        >section:before,
        >section:after,
        >div:before,
        >div:after,
        >header:before,
        >header:after,
        >footer:before,
        >footer:after {
            content: '';
            position: absolute;
            z-index: 100;
            top: 0;
            width: calc(50% - 375px);
            height: 100%;
            background-color: rgba(0,0,0, 0.6);
        }

        >section:before,
        >div:before,
        >header:before,
        >footer:before {
            left: 0;
        }

        >section:after,
        >div:after,
        >header:after,
        >footer:after {
            right: 0;
        }
    }

    @include mq(750) {
        >section:before,
        >section:after,
        >div:before,
        >div:after,
        >header:before,
        >header:after,
        >footer:before,
        >footer:after {
            display: none;
        }
    }
}

div {
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;

    @include mq(1199) {
        max-width: 750px;
    }
}

.rotate180 {
    transform: rotate(180deg);
}

.ymaps-layers-pane {
    filter: brightness(50%);
}

@keyframes show {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

