extends ../_template

block variables
	- var title = "Контакты"
	- var scriptLink = "https://api-maps.yandex.ru/2.1/?load=package.standard&lang=ru-RU"

	append sharedVars
		- var pageUrl = '/contacts.html'
	
block content
	include ./../modules/_contacts
