-
    var crumbsNews = [{name: 'CyberX', link: '/'}, {name: 'Новости', link: '/news.html'}]
    var crumbsNewsClassName = 'bread-crumbs-light'

    var crumbsServ = [{name: 'CyberX', link: '/'}, {name: 'Услуги', link: '/services.html'}]
    var crumbsServClassName = 'bread-crumbs-light'

    var crumbsContacts = [{name: 'CyberX', link: '/'}, {name: 'Контакты', link: '/contacts.html'}]
    var crumbsContactsClassName = 'bread-crumbs-light'

    var crumbsClubs = [{name: 'CyberX', link: '/'}, {name: 'Клубы', link: '/clubs.html'}]
    var crumbsClubsClassName = ''
