-
	var contactsMap = [
			{
				name: 'ООО \"РИКИС\"',
				address: 'Краснодарский кр, город Белореченск, район Белореченский, улица Интернациональная, дом 30',
				descr: 'ООО \"РИКИС\"',
				coords: [44.758632, 39.870727],
				city: 'Белореченск'
			},
			{
				name: 'CyberX Community',
				address: 'г. Москва, ул. Архитектора Власова, 55',
				descr: 'CyberX Community',
				coords: [55.664248, 37.543327],
				city: 'Москва'
			}
		]

	var contactsMapParams = {
			center: [55.664248, 37.543327],
			zoom: 18
		}

	var clubMap = [
			{
				name: 'Gaming Club',
				address: 'г. Москва, улица Архитектора Власова, 55',
				descr: 'ООО \"РИКИС\"',
				coords: [55.664248, 37.543327],
				city: 'Иркутск'
			}
		]

	var clubMapParams = {
			center: [55.664248, 37.533327], // y = -0.01;
			zoom: 16
		}

	var allClubs = [
			{
				name: 'CyberX',
				address: 'г. Москва, ул. центральная 19',
				descr: 'Games club',
				coords: [55.613112, 37.285735],
				city: 'Москва'
			},
			{
				name: 'CyberX',
				address: 'г. Москва, Большая Черемушкинская, 1',
				descr: 'Games club',
				coords: [55.690278, 37.601879],
				city: 'Москва'
			},
			{
				name: 'CyberX',
				address: 'г. Москва, Балаклавский проспект, 16',
				descr: 'Games club',
				coords: [55.642199, 37.604520],
				city: 'Москва'
			},
			{
				name: 'CyberX',
				address: 'п. Ватутинки Московской обл.',
				descr: 'Games club',
				coords: [55.505546, 37.332097],
				city: 'Москва'
			},
			{
				name: 'CyberX',
				address: 'г. Санкт-Петербург',
				descr: 'Games club',
				coords: [59.939095, 30.315868],
				city: 'Питер'
			},
			{
				name: 'CyberX',
				address: 'г. Калининград',
				descr: 'Games club',
				coords: [54.707390, 20.507307],
				city: 'Калининград'
			},
			{
				name: 'CyberX',
				address: 'г. Иркутск',
				descr: 'Games club',
				coords: [52.287054, 104.281047],
				city: 'Иркутск'
			},
			{
				name: 'CyberX',
				address: 'г. Новороссийск',
				descr: 'Games club',
				coords: [44.723912, 37.768974],
				city: 'Новороссийск'
			},
			{
				name: 'CyberX',
				address: 'г. Геленджик',
				descr: 'Games club',
				coords: [44.561141, 38.076809],
				city: 'Геленджик'
			},
			{
				name: 'CyberX',
				address: 'г. Белореченск',
				descr: 'Games club',
				coords: [44.761141, 39.871140],
				city: 'Белореченск'
			},
			{
				name: 'CyberX',
				address: 'г. Майкоп',
				descr: 'Games club',
				coords: [44.608865, 40.098548],
				city: 'Майкоп'
			}
		]