.clubs {
    padding: 0 0 100px;
    background: #1e1e1e;

    @include mq(1199) {
        padding: 0;
    }

    &__title {
        padding: 41px 0 37px;

        h1 {
            font-family: "9928";
            font-size: 35px;
            color: #fff;
            text-align: center;
        }

        @include mq(1199) {
            padding: 4px 0 7px;

            h1 {
                font-size: 28px;
            }
        }

        @include mq(749) {
            padding: 2px 0 3px;

            h1 {
                font-size: 26px;
            }
        }
    }

    &__content {
        max-width: 1300px;
        padding: 15px 13px 0 17px;
        font-size: 0;
        margin: 0 auto;

        @include mq(1199) {
            padding: 15px 0 0;
        }
    }

    &__data {
        display: inline-block;
        vertical-align: top;
        width: 520px;
        padding: 0 28px 0 0;
        font-size: 0;

        @include mq(1199) {
            display: block;
            width: 750px;
            padding: 0;
            margin: 0 auto;
        }

        @include mq(749) {
            width: 100%;
        }
    }

    &__data-head {
        height: 70px;
        font-size: 0;
        overflow: visible;

        @include mq(1199) {
            width: 445px;
            height: 51px;
            padding: 0 0 0 28px;
        }

        @include mq(749) {
            width: auto;
            height: 97px;
            padding: 0 15px;
        }
    }

    &__data-title {
        display: inline-block;
        vertical-align: top;
        width: 185px;
        padding: 14px 0 0;
        font-family: "RoadRadio";
        font-size: 20px;
        color: #fff;

        span {
            color: #bf1e2e;
        }

        @include mq(1199) {
            width: 165px;
            font-size: 16px;
        }

        @include mq(749) {
            width: 100%;
            padding: 14px 0 11px;
            text-align: center;
        }
    }

    &__data-select {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 185px);
        padding: 0 0 0 10px;

        @include mq(749) {
            width: 100%;
            padding: 0;
        }
    }

    &__select {
        position: relative;
        z-index: 10;
        width: 100%;
        padding:  0 38px 0 20px;
        color: #000000;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #bf1e2e;
        
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 38px;
            height: 50px;
            background: url(./../images/icons/clubs-arrow.png) center center no-repeat;
            cursor: pointer;
            transition: transform 0.25s;
        }
        
        span {
            display: block;
            font-family: "RoadRadio-Light";
            font-size: 15px;
            line-height: 50px;
        }

        &.is-open {

            &:after {
                transform: scale(1, -1);
            }
        }

        @include mq(1199) {

            &:after {
                height: 40px;
            }

            span {
                font-size: 14px;
                line-height: 40px;
            }
        }

        @include mq(749) {
            span {
                line-height: 38px;
            }
        }
    }

    &__select-items {
        display: none;
        padding: 0 0 10px;
        
        > p {
            font-family: "RoadRadio";
            font-size: 15px;
            color: #000000;
            margin: 7px 0 8px;
            cursor: pointer;
            
                &:hover {
                    color: #bf1e2e;
            }
        }
    }

    &__items {
        position: relative;
        height: 880px;
        overflow: hidden;

        @include mq(1199) {
            height: auto;
        }
    }

    &__items-wrapp {
        transition: transform 0.75s;

        @include mq(1199) {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 5000%;
        }
    }

    &__items-arrow-bottom {
        position: absolute;
        z-index: 12;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        padding: 35px 0 0;
        text-align: center;
        background-image: linear-gradient(to top, rgba(#1e1e1e, 1) 0%, rgba(#1e1e1e, 1) 10%, rgba(#1e1e1e, 0) 100%);

        img {
            display: inline-block;
            vertical-align: top;
            transition: transform 0.25s;
            cursor: pointer;
        }

        @include mq(1199) {
            display: none;
        }
    }

    &__items-arrow-left,
    &__items-arrow-right {
        display: none;

        @include mq(1199) {
            position: absolute;
            z-index: 2;
            top: 0;
            display: inline-block;
            vertical-align: top;
            width: 60px;
            height: 100%;
            padding: 124px 0 0 21px;

            &:not(.is-active) a {
                pointer-events: none;
            }
            
            a img:first-child {
                display: none;
            }

            &.is-active {

                a img:last-child {
                    display: none;
                }

                a img:first-child {
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }

        @include mq(749) {
            width: 32px;
            padding: 115px 0 0 7px;
        }
    }
    
    &__items-arrow-left {
        left: 0;

        &.is-active {
            background-image: linear-gradient(to right, rgba(#1e1e1e, 1) 0%, rgba(#1e1e1e, 1) 10%, rgba(#1e1e1e, 0) 100%);
        }
    }
    
    &__items-arrow-right {
        right: 0;

        &.is-active {
            background-image: linear-gradient(to left, rgba(#1e1e1e, 1) 0%, rgba(#1e1e1e, 1) 10%, rgba(#1e1e1e, 0) 100%);
        }
    }

    &__item {
        position: relative;
        z-index: 2;
        height: 282px;
        border-radius: 3px;
        overflow: hidden;
        margin: 0 0 15px;
        box-shadow:0px 0px 10px 3px rgba(0, 0, 0, 0.7);

        &.is-day {
            .clubs__item-time {
                background-image: url(./../images/icons/clubs-item-day.png);
            }
        }

        @include mq(1199) {
            width: 345px;
            height: 260px;
            margin: 10px 15px;
        }

        @include mq(749) {
            width: calc(100vw - 30px);
            margin: 0 15px 10px;
        }
    }
    
    &__item-img {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: center center no-repeat;
        background-size: cover;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: radial-gradient(at right top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.85));
        }
    }

    &__item-title {
        padding: 0 30px;
        background: rgba(#bf1e2e, 0.85) linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
        
        a {
            font-family: "RoadRadio-Bold";
            font-size: 30px;
            line-height: 65px;
            color: #fff;
            text-decoration: none;
        }

        @include mq(1199) {
            padding: 0 19px;

            a {
                font-size: 22px;
            }
        }

        @include mq(749) {
            a {
                font-size: 20px;
                line-height: 59px;
            }
        }
    }

    &__item-name {
        padding: 14px 30px 74px;
        font-family: "Navigo Light";
        font-size: 20px;
        color: #fff;

        @include mq(1199) {
            padding: 14px 19px 79px;
            font-size: 16px;
        }

        @include mq(749) {
            padding: 14px 19px 85px;
            font-size: 15px;
        }
    }

    &__item-atr {
        padding: 0 32px;
        font-size: 0;

        > div {
            padding: 0 0 0 42px;
            display: inline-block;
            vertical-align: top;
            width: 47%;
            height: 36px;
            font-family: "Navigo ExtraLight";
            font-size: 18px;
            line-height: 18px;
            color: #fff;
            background-size: auto;
            margin: 0 0 10px;            
        }

        @include mq(1199) {
            padding: 0 19px;
            
            > div {
                font-size: 15px;
                margin: 0;
            }
        }

        @include mq(749) {
            padding: 0 10px;

            > div {
                font-size: 14px;
                line-height: 15px;
            }
        }
    }

    &__item-pc {
        background: url(./../images/icons/clubs-item-pc.png) 0 10% no-repeat;
    }

    &__item-vip {
        padding: 0 0 0 36px !important;
        background: url(./../images/icons/clubs-item-vip.png) 0 10% no-repeat;

        @include mq(1199) {
            padding: 0 0 0 62px !important;
            background-position: 25px 10%;
        }
    }

    &__item-time {
        background: url(./../images/icons/clubs-item-time.png) 4px 10% no-repeat;

        span {
            line-height: 36px;
        }
    }

    &__map {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 520px);
        height: 943px;//870px;
        padding: 70px 0 0;
        
        
        #map {
            width: 100%;
            height: 100%;
            border-radius: 3px;
            overflow: hidden;
        }

        @include mq(1199) {
            display: block;
            width: auto;
            height: 380px;
            padding: 12px 0 0;

            #map {
                border-radius: 0;
            }
        }

        @include mq(749) {
            height: 305px;
            padding: 5px 0 0;
        }
    }
}
