.club {
    position: relative;

    .about__title {
        padding: 40px 0 24px 11px;

        h2 {
            font-size: 35px;
        }
    }

    @include mq(1199) {
        .about__logo {
            padding: 27px 0 25px 0px;

            img {
                width: 281px;
            }
        }

        .about__title {
            padding: 23px 0 14px 0;

            h2 {
                font-size: 25px;
            }
        }
    }

    @include mq(749) {
        .about__logo {
            padding: 18px 0;

            img {
                width: 160px;
            }
        }

        .about__title {
            padding: 19px 0 9px;

            h2 {
                font-size: 25px;
                line-height: 29px;
            }
        }
    }
    
    &__crumbs {
        position: absolute;
        z-index: 3;
        top: -701px;
        left: 0;
        width: 100%;
        height: 66px;
        background-color: rgba(0,0,0, 0.5);
        border-top: 1px solid #bf1e2e;

        @include mq(1199) {
            top: -319px;
            height: 40px;
            background: none;
        }

        @include mq(749) {
            top: -323px;
            border: none;
        }
    }

    &__gallery {
        position: relative;
        height: 926px;
        background: url(./../images/club-gallery-bg.png) center center no-repeat;
        background-size: cover;

        @include mq(1199) {
            height: auto;
        }
    }

    &__gallery-content {
        height: 100%;
        padding: 87px calc(50% - 650px) 75px;
        font-size: 0;
        background-image: linear-gradient(to bottom, 
            rgba(#bf1e2e, 0) 0, 
            rgba(#bf1e2e, 0) 270px,
            rgba(#bf1e2e, 0.5) 270px,
            rgba(#bf1e2e, 0.5) 271px,
            rgba(#bf1e2e, 0) 271px,
            rgba(#bf1e2e, 0) 660px,
            rgba(#bf1e2e, 0.5) 660px,
            rgba(#bf1e2e, 0.5) 661px,
            rgba(#bf1e2e, 0) 661px,
            rgba(#bf1e2e, 0) 100%,
        );

        @include mq(1199) {
            max-width: 750px;
            padding: 21px 0 40px;
            background: none;
            margin: 0 auto;
            overflow: hidden;
        }

        @include mq(749) {
            padding: 15px 0 35px;
        }
    }

    &__gallery-item {
        width: calc(33.33% - 40px);
        height: 370px;
        display: inline-block;
        vertical-align: top;
        border-radius: 3px;
        border: 1px solid #bf1e2e;
        box-shadow: 0px 0px 13px 3px rgba(133, 22, 34, 0.85);
        margin: 0 20px;
        overflow: hidden;

        img {
            min-width: 100%;
            min-height: 100%
        }
    }
    
    &__gallery-item--wide  {
        width: calc(100% - 40px);
        max-width: 1260px;
        margin: 0 20px 20px;
    }

    @include mq(1199) {
        &__gallery-content--wrapp {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 3000px;
        }

        &__gallery-item,
        &__gallery-item--wide {
            width: 720px;
            height: 260px;
            margin: 0 15px;
        } 
    }

    @include mq(749) {

        &__gallery-content--wrapp {
            width: 400vw;
        }

        &__gallery-item,
        &__gallery-item--wide {
            width: calc(100vw - 30px);
            height: 300px;
            margin: 0 15px;
        }
    }

    &__gallery-arrow-left,
    &__gallery-arrow-right {
        display: none;

        @include mq(1199) {
            display: block;
            position: absolute;
            top: 45%;
        }

        @include mq(749) {
            top: 43%;
        }
    }

    &__gallery-arrow-left {
        left: calc(50% - 375px);

        @include mq(749) {
            left: -10px;
        }
    }

    &__gallery-arrow-right {
        right: calc(50% - 375px);

        @include mq(749) {
            right: -10px;
        }
    }

    &__gadgets {
        height: 397px;
        color: #fff;
        background-color: #851622;

        @include mq(1199) {
            height: 284px;
        }

        @include mq(749) {
            height: 236px;
        }
    }

    &__gadgets-title {
        padding: 74px 0 45px;

        h2 {
            font-family: "9928";
            font-size: 35px;
            text-align: center;
        }

        @include mq(1199) {
            padding: 30px 0 26px;
            
            h2 {
                font-size: 28px;
            }
        }

        @include mq(749) {
            padding: 30px 0 18px;

            h2 {
                font-size: 26px;
            }
        }
    }

    &__gadgets-items {
        font-size: 0;
        text-align: center;

        @include mq(749) {
            padding: 0 15px;
        }
    }

    &__gadgets-item {
        display: inline-block;
        vertical-align: top;
        width: 280px;

        .icon {
            margin: 7px 0 24px;
        }

        h3 {
            font-family: "Navigo Medium";
            font-size: 30px;
            text-align: center;
            margin: 0 0 -2px;
        }

        p {
            font-family: "Navigo Light";
            font-size: 20px;
            text-align: center;
            margin: 0 0 -6px;
        }

        &:nth-child(2) {
            width: 292px;
            border-right: 1px solid #9d454e;
            border-left: 1px solid #9d454e;
            margin: 0 38px;
        }

        @include mq(1199) {
            width: 250px;

            h3 {
                font-size: 23px;
            }

            p {
                font-size: 18px;
                margin: 0 0 5px;
            }

            &:nth-child(2) {
                width: 250px;
                margin: 0;
            }
        }

        @include mq(749) {
            width: 32%;

            .icon {
                transform: scale(0.75);
                margin: 7px 0 18px;
            }

            h3 {
                font-size: 19px;
            }

            p {
                font-size: 14px;
                margin: 0 0 5px;
            }

            &:nth-child(2) {
                width: 32%;
                border: none;
            }

            &:first-child {
                width: 36%;
            }
        }
    }

    &__price {
        height: 580px;
        background: url(./../images/club-price-bg.png) center center no-repeat;
        background-size: cover;
        color: #fff;

        @include mq(1199) {
            height: 457px;
        }

        @include mq(749) {
            height: auto;
        }
    }

    &__price-title {
        padding: 74px 0 20px;
        font-family: "9928";
        text-align: center;

        h2 {
            font-size: 35px;
            margin: 0 0 8px;
        }

        p {
            font-size: 23px;
        }

        @include mq(1199) {
            padding: 34px 0 11px;

            h2 {
                font-size: 28px;
            }

            p {
                font-size: 20px;
            }
        }

        @include mq(749) {
            padding: 28px 0 11px;

            h2 {
                font-size: 26px;
            }

            p {
                padding: 0 50px;
                font-size: 18px;
            }
        }
    }

    &__price-content {
        width: calc(100% - 30px);
        max-width: 1300px;
        padding: 15px;
        margin: 0 auto;

        @include mq(1199) {
            width: 750px;
        }

        @include mq(749) {
            width: auto;
        }
    }

    &__price-item {
        padding: 1px;
        border-radius: 3px;
        background-image: linear-gradient(to bottom, #bf1f2f, #fbfbfb);
        overflow: hidden;
        margin: 0 0 32px;

        table {
            width: 100%;
            text-align: center;
            border-radius: 3px;
            background-color: #851622;
        }

        th {
            height: 49px;
            font-family: "Navigo Regular";
            font-size: 16px;
            background-color: #232323;
        }

        td {
            height: 34px;
            font-family: "Navigo Medium";
            font-size: 16px;
            border-left: 1px solid #9d454e;

            &:first-child {
                font-family: "Navigo Bold";
                font-size: 18px;
                border-left: none;
            }
        }

        th, 
        td {

            &:first-child {
                width: 29.6%;
            }
        }

        tr.to-bottom td {
            vertical-align: bottom;
        }

        tr.to-top td {
            vertical-align: top;
        }

        td.is-big {
            height: 46px;
            font-family: "9928";
            font-size: 23px;
        }

        &.is-mobile {
            display: none;
        }

        @include mq(1199) {
            margin: 0 0 10px;
            th,
            td {

                &:first-child {
                    width: 23.9%;
                }
            }

            &:last-child {
                th,
                td {

                    &:first-child {
                        width: 19.5%;
                    }
                }
            }
        }

        @include mq(749) {

            &.is-desctop {
                display: none;
            }

            &.is-mobile {
                display: block;
            }

            th,
            td {

                &:first-child {
                    width: 50%;
                }
            }

            &:last-child {

                th,
                td {

                    &:first-child {
                        width: 50%;
                    }
                }
            }
        }
    }

    &__contacts-title {
        padding: 39px 0 32px;
        font-family: "9928";
        font-size: 35px;
        color: #000;
        text-align: center;

        img {
            width: 250px;
            transform: translate3d(12px, 26px, 0);
            margin: 0 22px 0 0;
        }

        @include mq(1199) {
            padding: 7px 0 13px;
            font-size: 28px;

            img {
                width: 200px;
                transform: translate3d(7px, 21px, 0);
                margin: 0 21px 0 0;
            }
        }

        @include mq(749) {
            padding: 27px 0 9px;
            font-size: 26px;

            img {
                transform: translate3d(0, 0, 0);
                margin: 0;
            }

            span {
                display: block;
            }
        }
    }

    &__contacts-soc {
        display: flex;
        justify-content: center;
        padding: 20px 0 40px;

        @include mq(1199) {
            padding: 20px 0 19px;
        }

        @include mq(749) {
            flex-wrap: wrap;
            padding: 20px 50px 0;
        }
    }

    &__soc-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #bf1e2e;
        margin: 0 5px;

        .icon {
            // width: 100%;
            // height: 100%;
        }

        @include mq(1199) {
            width: 42px;
            height: 42px;
            margin: 0 4.2px;
        }

        @include mq(749) {
            margin: 0 5px 10px;
        }
    }

    &__contacts-map {
        position: relative;
        height: 380px;

        #map {
            width: 100%;
            height: 100%;
        }

        @include mq(1199) {
            height: auto;

            #map {
                height: 380px;
            }
        }

        @include mq(749) {
            #map {
                height: 300px;
            }
        }
    }

    &__contacts-address {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        padding: 112px 0 0 calc(50% - 650px);
        background-color: rgba(#fff, 0.8);

        @include mq(1199) {
            position: relative;
            width: auto;
            padding: 0 0 9px calc(50% - 190px);
        }

        @include mq(749) {
            padding: 0 0 23px;
        }
    }
}


