section.about
    +ciberCommunity("CyberX - это федеральная сеть", "киберспортивных пространств нового поколения", "Мы развиваем клубы различных форматов на территории РФ")
    .about__formats
        .about__formats-title
            | Наши форматы
        .about__formats-items.js-formats-slider
            .about__formats-item(style="background-image: url(./assets/images/formats-1.jpg)")
                .about__formats-item--title
                    | Лаунж бар с кибер-зоной <br>на 300 кв. метров
                .about__formats-item--content
                    | Кухня, зона отдыха, паровые коктейли, большой экран для просмотра трансляций крупнейших киберспортивных событий
            .about__formats-item(style="background-image: url(./assets/images/formats-2.jpg)")
                .about__formats-item--title
                    | Киберспортивный <br>клуб на 100 кв метров
                .about__formats-item--content
                    | Самый массовый и популярный формат. Зона PS, до 40 игоровых станций, зона отдыха
            .about__formats-item(style="background-image: url(./assets/images/formats-3.jpg)")
                .about__formats-item--title
                    | Киберкорнеры в <br>торговых центрах
                .about__formats-item--content
                    | До 100 квадратных метров. От 30 до 40 игровых станций
        .about__formats-arrow-left.js-formats-slider-left
            a(href="javascript:void(0)")
                .icon.icon-formats-arrow
        .about__formats-arrow-right.js-formats-slider-right
            a(href="javascript:void(0)")
                .icon.icon-formats-arrow.rotate180
    .about__preferens
        .about__preferens-title Наши преимущества
        .about__preferens-items.js-preferens-slider
            .about__preferens-item
                .about__preferens-item_img-wrapp
                    .about__preferens-item_img(style="background-image: url(./assets/images/preferns-1.jpg)")
                .about__preferens-item_text
                    | Мы представляем новый формат развлечений в направлении киберспорта. Это стильный интерьер, крутая атмосфера и отменный сервис. 
            .about__preferens-item
                .about__preferens-item_img-wrapp
                    .about__preferens-item_img(style="background-image: url(./assets/images/preferns-2.jpg)")
                .about__preferens-item_text
                    | Cyber:X- это топовое железо, удобные кресла и профессиональная периферия. Все, чтобы получать максимальное удовольствие от процесса игры.
            .about__preferens-item
                .about__preferens-item_img-wrapp
                    .about__preferens-item_img(style="background-image: url(./assets/images/preferns-3.jpg)")
                .about__preferens-item_text
                    | Cyber:X- это киберспорт. Еженедельно проводимые в Cyber:X турниры  собирают огромную аудиторию и становятся точкой притяжения молодежи в своих городах.
        .about__preferens-arrow-left.js-preferens-slider-left
            a(href="javascript:void(0)")
                .icon.icon-formats-arrow
        .about__preferens-arrow-right.js-preferens-slider-right
            a(href="javascript:void(0)")
                .icon.icon-formats-arrow.rotate180
    .about__more
        .about__more-title Больше о нас
        .about__more-context
            .about__more-top
                .about__more-context_logo
                    img(src="assets/images/about-more-logo.png")
                .about__more-context_separator
                .about__more-context_title
                    | CyberX - это федеральная сеть киберспортивных арен нового формата. <br>Мы представляем новую индустрию развлечений
            .about__more-bottom
                .about__more-context_text
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
                    p Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 

    .about__photos
        .about__photos-title Фото заведений
        .about__slider
            .about__slider-items.js-photos-slider
                .about__slider-item
                    .about__slider-item_img
                        img(src="assets/images/about-slider-1.jpg" alt="")
                    .about__slider-item_context
                        | г. Москва, улица центральная 11
                .about__slider-item
                    .about__slider-item_img
                        img(src="assets/images/about-slider-1.jpg" alt="")
                    .about__slider-item_context
                        | г. Москва, улица центральная 12
                .about__slider-item
                    .about__slider-item_img
                        img(src="assets/images/about-slider-1.jpg" alt="")
                    .about__slider-item_context
                        | г. Москва, улица центральная 13
                .about__slider-item
                    .about__slider-item_img
                        img(src="assets/images/about-slider-1.jpg" alt="")
                    .about__slider-item_context
                        | г. Москва, улица центральная 14
                .about__slider-item
                    .about__slider-item_img
                        img(src="assets/images/about-slider-1.jpg" alt="")
                    .about__slider-item_context
                        | г. Москва, улица центральная 15
            .about__slider-arrow-left.js-photos-slider-left
                a(href="javascript:void(0)")
                    .icon.icon-about-arrow
                    .icon.icon-formats-arrow
            .about__slider-arrow-right.js-photos-slider-right
                a(href="javascript:void(0)")
                    .icon.icon-about-arrow.rotate180
                    .icon.icon-formats-arrow.rotate180
    .about__numbers
        .about__numbers-title
            img(src="assets/images/about-num-logo.png" alt="")
            span в цифрах
        .about__numbers-items
            .about__numbers-item
                .about__numbers-item_img
                    .icon.icon-about-num-1
                .about__numbers-item_num 
                    span#js-num1 7
                .about__numbers-item_text клубов в 7&nbsp;городах российской федерации
            .about__numbers-item
                .about__numbers-item_img
                    .icon.icon-about-num-2
                .about__numbers-item_num 
                    span#js-num2 122
                .about__numbers-item_text игровых станций ПК
            .about__numbers-item
                .about__numbers-item_img
                    .icon.icon-about-num-3
                .about__numbers-item_num 
                    span#js-num3 22
                .about__numbers-item_text консоли sonyps4
            .about__numbers-item
                .about__numbers-item_img
                    .icon.icon-about-num-4
                .about__numbers-item_num 
                    | &gt;&nbsp;<span id="js-num4">9000</span>
                .about__numbers-item_text уникальных игроков
            .about__numbers-item
                .about__numbers-item_img
                    .icon.icon-about-num-5
                .about__numbers-item_num 
                    span 0
                .about__numbers-item_text ЗАКРЫТЫХ ТОЧЕК
    .about__map
        .about__map-title
            span Где уже есть
            img(src="assets/images/about-map-logo.png" alt="")
        .about__map-wrapp
            #map(data-params=allClubs)
