section.club
    .club__about
        +ciberCommunity("встречайте первый кибер клуб в г.иркутске")
    .club__crumbs
        +breadCrumbs(crumbsClub, crumbsClubClassName)
    .club__gallery
        .club__gallery-content
            .club__gallery-content--wrapp
                .club__gallery-item.club__gallery-item--wide
                    img(src="assets/images/club-gallery-1.png" alt="")
                .club__gallery-item
                    img(src="assets/images/club-gallery-2.png" alt="")
                .club__gallery-item
                    img(src="assets/images/club-gallery-3.png" alt="")
                .club__gallery-item
                    img(src="assets/images/club-gallery-4.png" alt="")
        .club__gallery-arrow-left
            a(href="javascript:void(0)")
                .icon.icon-formats-arrow
                //- img(src="assets/images/icons/formats-arrow.png" alt="")
        .club__gallery-arrow-right
            a(href="javascript:void(0)")
                .icon.icon-formats-arrow.rotate180
                //- img(src="assets/images/icons/formats-arrow.png" alt="").rotate180
    .club__gadgets
        .club__gadgets-title
            h2 Игровые устройства
        .club__gadgets-items
            .club__gadgets-item
                .icon.icon-club-gadget-1
                //- img(src="assets/images/icons/club-gadget-1.png" alt="")
                h3#js-club-num1 15
                p игровых машин
            .club__gadgets-item
                .icon.icon-club-gadget-2
                //- img(src="assets/images/icons/club-gadget-2.png" alt="")
                h3#js-club-num2 134
                p кв. метра
            .club__gadgets-item
                .icon.icon-club-gadget-3
                //- img(src="assets/images/icons/club-gadget-3.png" alt="")
                h3#js-club-num3 2
                p SonyPS4
    .club__price
        .club__price-title
            h2 Игровое время
            p Стоимость одного игрового часа
        .club__price-content
            .club__price-item.is-desctop
                table
                    tbody
                        tr
                            th Дни недели
                            th 08:00 - 13:00
                            th 13:00 - 18:00
                            th 18:00 - 00:00
                        tr.to-bottom
                            td Пн - Пт
                            td 50 руб/час
                            td 70 руб/час
                            td 100 руб/час
                        tr.to-top
                            td Сб - Вс
                            td 70 руб/час
                            td 100 руб/час
                            td 120 руб/час
            .club__price-item.is-mobile
                table
                    tbody
                        tr
                            th Дни недели
                            th 08:00 - 13:00
                        tr.to-bottom
                            td Пн - Пт
                            td 50 руб/час
                        tr.to-top
                            td Сб - Вс
                            td 70 руб/час
            .club__price-item.is-mobile
                table
                    tbody
                        tr
                            th Дни недели
                            th 13:00 - 18:00
                        tr.to-bottom
                            td Пн - Пт
                            td 70 руб/час
                        tr.to-top
                            td Сб - Вс
                            td 100 руб/час
            .club__price-item.is-mobile
                table
                    tbody
                        tr
                            th Дни недели
                            th 18:00 - 00:00
                        tr.to-bottom
                            td Пн - Пт
                            td 100 руб/час
                        tr.to-top
                            td Сб - Вс
                            td 120 руб/час
            .club__price-item.is-desctop
                table
                    tbody
                        tr
                            td(colspan="5").is-big Пакеты
                        tr
                            th Дни недели
                            th Пакет «День»<br>13:00 - 18:00
                            th Пакет «Вечер»<br>18:00 - 00:00
                            th Пакет «1/2 ночь»<br>00:00 - 04:00
                            th Пакет «Ночь»<br>00:00 - 08:00
                        tr.to-bottom
                            td Пн - Пт
                            td 280 руб/час
                            td 500 руб/час
                            td 250 руб/час
                            td 400 руб/час
                        tr.to-top
                            td Сб - Вс
                            td 400 руб/час
                            td 600 руб/час
                            td 300 руб/час
                            td 500 руб/час
            .club__price-item.is-mobile(style="margin-top: 15px")
                table
                    tbody
                        tr
                            td(colspan="2").is-big Пакеты
                        tr
                            th Дни недели
                            th Пакет «День»<br>13:00 - 18:00
                        tr.to-bottom
                            td Пн - Пт
                            td 280 руб/час
                        tr.to-top
                            td Сб - Вс
                            td 400 руб/час
            .club__price-item.is-mobile
                table
                    tbody
                        tr
                            th Дни недели
                            th Пакет «Вечер»<br>18:00 - 00:00
                        tr.to-bottom
                            td Пн - Пт
                            td 500 руб/час
                        tr.to-top
                            td Сб - Вс
                            td 600 руб/час
            .club__price-item.is-mobile
                table
                    tbody
                        tr
                            th Дни недели
                            th Пакет «1/2 ночь»<br>00:00 - 04:00
                        tr.to-bottom
                            td Пн - Пт
                            td 250 руб/час
                        tr.to-top
                            td Сб - Вс
                            td 300 руб/час
            .club__price-item.is-mobile
                table
                    tbody
                        tr
                            th Дни недели
                            th Пакет «Ночь»<br>00:00 - 08:00
                        tr.to-bottom
                            td Пн - Пт
                            td 400 руб/час
                        tr.to-top
                            td Сб - Вс
                            td 500 руб/час
    .club__contacts
        .club__contacts-title
            img(src="assets/images/about-logo.png" alt="")
            span в сетях
        .club__contacts-soc
            each item in socItems
                +socItem(item)
        .club__contacts-map
            .club__contacts-address
                .contacts__item
                    .contacts__item-image
                        .icon.icon-point
                        //- img(src="assets/images/icons/point.png" alt="")
                    .contacts__item-text
                        | Москва, <br> улица Архитектора Власова,&nbsp;55
                .contacts__item
                    .contacts__item-image
                        .icon.icon-phone-red
                        //- img(src="assets/images/icons/phone-red.png" alt="")
                    .contacts__item-text
                        a(href="tel:8-499-288-27-35") 8-499-288-27-35
                .contacts__item
                    .contacts__item-image
                        .icon.icon-mail
                        //- img(src="assets/images/icons/mail.png" alt="")
                    .contacts__item-text
                        a(href="mailto:info@cyberx-franchise.ru") info@cyberx-franchise.ru
            #map(data-params=clubMap data-mapparams=clubMapParams )
            
        