section.clubs
    .clubs__crumbs
        +breadCrumbs(crumbsClubs, crumbsClubsClassName)
    .clubs__title
        h1 Клубы
    .clubs__content
        .clubs__data
            .clubs__data-head
                .clubs__data-title 7 клубов <span>CyberX</span>
                .clubs__data-select
                    .clubs__select.js-clubs-select
                        span выберите город
                        .clubs__select-items
                            p Москва
                            p Питер
                            p Иркутск
                            p Москва
                            p Питер
                            p Иркутск
            .clubs__items
                .clubs__items-wrapp
                    .clubs__item.is-day
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="#") CyberX corner
                        .clubs__item-name ЦДМ на Лубянке, Москва
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span круглосуточно
                    .clubs__item.is-day
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="#") CyberX corner
                        .clubs__item-name ЦДМ на Лубянке, Москва
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span круглосуточно
                    .clubs__item
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="#") CyberX corner
                        .clubs__item-name ЦДМ на Лубянке, Москва
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span 10:00 - 24:00
                    .clubs__item
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="#") CyberX corner 4
                        .clubs__item-name ЦДМ на Лубянке, Москва
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span 10:00 - 24:00
                    .clubs__item.is-day
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="#") CyberX corner 5
                        .clubs__item-name ЦДМ на Лубянке, Москва
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span круглосуточно
                    .clubs__item.is-day
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="#") CyberX corner 6
                        .clubs__item-name ЦДМ на Лубянке, Москва
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span круглосуточно
                    .clubs__item
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="#") CyberX corner 7
                        .clubs__item-name ЦДМ на Лубянке, Москва
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span 10:00 - 24:00
                .clubs__items-arrow-bottom
                    img(src="assets/images/icons/clubs-arrow-red.png", alt="").js-clubs-arrow-bottom
                .clubs__items-arrow-left.js-clubs-arrow-left
                    a(href="#")
                        img(src="assets/images/icons/clubs-arrow-left-red.png", alt="")
                        img(src="assets/images/icons/clubs-arrow-white.png", alt="").rotate180
                .clubs__items-arrow-right.js-clubs-arrow-right
                    a(href="#")
                        img(src="assets/images/icons/clubs-arrow-left-red.png", alt="").rotate180
                        img(src="assets/images/icons/clubs-arrow-white.png", alt="")

        .clubs__map
            #map
    