section.clubs
    .clubs__crumbs
        +breadCrumbs(crumbsClubs, crumbsClubsClassName)
    .clubs__title
        h1 Клубы
    .clubs__content
        .clubs__data
            .clubs__data-head
                .clubs__data-title 7 клубов <span>CyberX</span>
                .clubs__data-select
                    .clubs__select.js-clubs-select
                        span выберите город
                        .clubs__select-items
                            p(data-coords="[55.76, 37.64]") Москва
                            p(data-coords="[59.939095, 30.315868]") Питер
                            p(data-coords="[54.707390, 20.507307]") Калининград
                            p(data-coords="[52.287054, 104.281047]") Иркутск
                            p(data-coords="[44.723912, 37.768974]") Новоросийск
                            p(data-coords="[44.561141, 38.076809]") Геленджик
                            p(data-coords="[44.761141, 39.871140]") Белореченск
                            p(data-coords="[44.608865, 40.098548]") Майкоп
            .clubs__items
                .clubs__items-wrapp
                    .clubs__item(data-city="Москва").is-day
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="/club.html") CyberX corner
                        .clubs__item-name ЦДМ на Лубянке, Москва
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span круглосуточно
                    .clubs__item(data-city="Москва").is-day
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="/club.html") CyberX corner
                        .clubs__item-name Большая Черемушкинская,1, Москва
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span круглосуточно
                    .clubs__item(data-city="Москва")
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="/club.html") CyberX corner
                        .clubs__item-name Балаклавский проспект, 16, Москва
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span 10:00 - 24:00
                    .clubs__item(data-city="Москва")
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="/club.html") CyberX corner 4
                        .clubs__item-name п. Ватутинки Московской обл.
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span 10:00 - 24:00
                    .clubs__item(data-city="Питер")
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="/club.html") CyberX corner
                        .clubs__item-name г. Санкт-Петербург
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span 10:00 - 24:00
                    .clubs__item(data-city="Иркутск")
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="/club.html") CyberX corner 4
                        .clubs__item-name г. Иркутск
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span 10:00 - 24:00
                    .clubs__item(data-city="Калининград").is-day
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="/club.html") CyberX corner 5
                        .clubs__item-name г. Калининград
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span круглосуточно
                    .clubs__item(data-city="Новоросийск").is-day
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="/club.html") CyberX corner 6
                        .clubs__item-name г. Новороссийск
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span круглосуточно
                    .clubs__item(data-city="Геленджик").is-day
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="/club.html") CyberX corner 6
                        .clubs__item-name г. Геленджик
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span круглосуточно
                    .clubs__item(data-city="Белореченск")
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="/club.html") CyberX corner
                        .clubs__item-name г. Белореченск
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span 10:00 - 24:00
                    .clubs__item(data-city="Майкоп")
                        .clubs__item-img(style="background-image: url(assets/images/clubs-item-1.png);" alt="")
                        .clubs__item-title 
                            a(href="/club.html") CyberX corner 7
                        .clubs__item-name г. Майкоп
                        .clubs__item-atr
                            .clubs__item-pc 
                                span 115 игровых <br>компьютеров
                            .clubs__item-vip
                                span 3 VIP <br>комнаты
                            .clubs__item-time
                                span 10:00 - 24:00
                .clubs__items-arrow-bottom
                    img(src="assets/images/icons/clubs-arrow-red.png", alt="").js-clubs-arrow-bottom
                .clubs__items-arrow-left.js-clubs-arrow-left
                    a(href="javascript:void(0)")
                        img(src="assets/images/icons/clubs-arrow-left-red.png", alt="")
                        img(src="assets/images/icons/clubs-arrow-white.png", alt="").rotate180
                .clubs__items-arrow-right.js-clubs-arrow-right
                    a(href="javascript:void(0)")
                        img(src="assets/images/icons/clubs-arrow-left-red.png", alt="").rotate180
                        img(src="assets/images/icons/clubs-arrow-white.png", alt="")

        .clubs__map
            #map
    