header.header
    .header__inner
        .header__mobile
            a(href="#")
                img(src="assets/images/icons/menu.png", alt="")
        .header__logo
            a(href="/")
                img(src="assets/images/logo.png" alt="")
        ul.header__nuv
            li
                a(href="#") Cyberx
            li.is-active
                a(href="#") Клубы
            li
                a(href="#") Услуги
            li
                a(href="#") Новости
            li
                a(href="#") Контакты
            li
                a(href="#") Франшиза
        .header__phone
            a.phone(href="#")
                img(src="assets/images/icons/phone-icon.png" title="Заказать звонок" alt="")
            a(href="tel:+74992882735")
                |8 499 288 27 35
    .header__decor
    