section.services
    .services__crumbs
        +breadCrumbs(crumbsServ, crumbsServClassName)
    .services__title
        h1 Услуги
    .services__content
        .services__content-wrapp.js-services-slider
            .services__items-left
                .services__item
                    .services__item-inner(style="background-image: url(assets/images/services-1.png);" alt="")
                        .services__item-title Аренда игровых машин
                    .services__item-num(data-num="1") 1
                .services__item
                    .services__item-inner(style="background-image: url(assets/images/services-2.png);" alt="")
                        .services__item-title вкусные закуски
                    .services__item-num(data-num="2") 2
                .services__item
                    .services__item-inner(style="background-image: url(assets/images/services-3.png);" alt="")
                        .services__item-title(data-num="3") паровые коктейли
                    .services__item-num(data-num="3") 3
            .services__items-right
                .services__item
                    .services__item-inner(style="background-image: url(assets/images/services-4.png);" alt="")
                        .services__item-title Аренда Sony playstation
                    .services__item-num(data-num="4") 4
                .services__item
                    .services__item-inner(style="background-image: url(assets/images/services-5.png);" alt="")
                        .services__item-title Бар
                    .services__item-num(data-num="5") 5
                .services__item
                    .services__item-inner(style="background-image: url(assets/images/services-6.png);" alt="")
                        .services__item-title проведение турниров
                    .services__item-num(data-num="6") 6
    .services__arrow-left
        a(href="#").js-services-slider-left
            .icon.icon-formats-arrow
            //- img(src="assets/images/icons/formats-arrow.png" alt="")
    .services__arrow-right
        a(href="#").js-services-slider-right
            .icon.icon-formats-arrow.rotate180
            //- img(src="assets/images/icons/formats-arrow.png" alt="").rotate180