.slider
    .slider__img
        .slider__item(style="background-image: url(assets/images/slider-1.png)")
            .slider__item-title
                | сеть кибер клубов <br>
                | CyberX - <span>пример <br>
                | заголовка на баннере</span>
        .slider__item(style="background-image: url(assets/images/slider-1.png)")
            .slider__item-title
                | сеть кибер клубов <br>
                | CyberX - <span>пример <br>
                | заголовка на баннере</span>
        .slider__item(style="background-image: url(assets/images/slider-1.png)")
            .slider__item-title
                | сеть кибер клубов <br>
                | CyberX - <span>пример <br>
                | заголовка на баннере</span>
        .slider__item(style="background-image: url(assets/images/slider-1.png)")
            .slider__item-title
                | сеть кибер клубов <br>
                | CyberX - <span>пример <br>
                | заголовка на баннере</span>
    .slider__pagination
        .pagination
            a(href="").pagination-item.is-active
            a(href="").pagination-item
            a(href="").pagination-item
            a(href="").pagination-item
    .slider__arrow-left
        a(href="#")
            img(src="assets/images/icons/slider-arrow.png" alt="")
    .slider__arrow-right
        a(href="#")
            img(src="assets/images/icons/slider-arrow.png" alt="").rotate180
